#ifndef BOARD_CONFIG_H
#define BOARD_CONFIG_H

#define BOARD_CONFIG_LED_PIN_0 18
#define BOARD_CONFIG_LED_PIN_1 19
#define BOARD_CONFIG_LED_PIN_2 20

//use if leds connected to Vcc
//#define BOARD_CONFIG_LED_ACTIVE_LOW

//do not blink on wake up
//#define BOARD_CONFIG_LED_SIGNAL

//use nordic radio example compatible setup
//nRF5_SDK_12.3.0/examples/peripheral/radio/receiver

//#define USE_NRF_EXAMPLE_RF_SETUP

//30 seconds
#define BOARD_CONFIG_SEND_INTERVAL 30

#define BOARD_CONFIG_ONE_WIRE

//1-wire dq pin
#define BOARD_CONFIG_ONE_WIRE_PIN 7

//debug output pin 
//#define BOARD_CONFIG_DEBUG_PIN 6


#endif